{% extends "base01.html" %}
{% block content %}
  <style>

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    /* 表单按钮样式 */
    .button1 {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>

  <form action="{{ url_for('tocreateusecasepage') }}" method="GET">
    <button class="button1">创建用例</button>
  </form>
  <table>
    <tr>
      <th>用例ID</th>
      <th>用例名称</th>
      <th>预置条件</th>
      <th>测试步骤</th>
    </tr>
    {% for usecase in usecases %}
      <tr>
        <td>{{ usecase.id|e }}</td> <!-- 使用e过滤器进行HTML转义，防止XSS -->
        <td>{{ usecase.casename|e }}</td>
        <td>{{ usecase.precondition|e }}</td>
        <td>{{ usecase.usecasestep|e }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
